:root {
    --border-color: #13826B;
    --accent-color: #ffffff;
    --base-color: #fefff9;
    --text-color: #000000;
    --input-color: #BFBFBF;
    --hover-color: #d19afe;
    --link-color: #3AAEBD;
}
* {
    margin: 0;
    padding: 0;
}
.loginform {
    place-items: center;
}
body {
    justify-content: center;
    align-items: center;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink:0;
    height: 35px;
    width: 35px;
    background-color: var(--border-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 35px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}
form input:hover{
    border-color: var(--border-color);
}
form input:focus{
    outline: none;
    border-color: var(--border-color);
}
form input::placeholder{
    color: var(--text-color);
    opacity: 1;
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--input-color);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form button:hover{
    background-color: var(--border-color);
}
form button:focus{
    outline: none;
    background-color: var(--border-color);
}