:root {
    --border-top-color: #13826B;
    --accent-color: #ffffff;
    --base-color: #fefff9;
    --text-color: #2E2B41;
    --input-color: #BFBFBF;
    --hover-color: #d19afe;
    --link-color: #3AAEBD;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 12pt;
    font-family: sans-serif;
    color: var(--text-color);
    text-align: center; 
}
body {
    background-color: var(--base-color);
    
}
header {
    background-color: var(--border-top-color);
    font-size: 16pt;


}
head {
    background-color: var(white);
}
a {
    color: var(--link-color);
    white-space: nowrap;
}
a:hover {
    color: var(--hover-color);
    text-decoration: none;
}
header a {
    color: var(--accent-color);
}
