:root {
    border-top-color: #13826B;
    --accent-color: #BA230F;
    --base-color: #fefff9;
    --text-color: #2E2B41;
    --input-color: #BFBFBF;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 12pt;
    font-family: sans-serif;
    color: var(--text-color);
    text-align: center; 
}
body {
    background-color: var(--base-color);
    
}
header {
    background-color: var(--accent-color);
    font-size: 16pt;

}
head {
    background-color: var(white);
}
a {
    color: var(--base-color);
    text-decoration: none;
}
a:hover {
    color: var(--text-color);
    text-decoration: underline;
}
